node_modules/
vendor/
.git/
.github/
tests/
.env
.env.backup
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
docker/pgsql/
.editorconfig
.gitattributes
.styleci.yml
phpunit.xml
vite.config.ts.timestamp*
*.md
